<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HYPEvents: Hypergrid Events across the Metaversum</title>
  <meta name="description" content="HYPEvents: Hypergrid Events across the Metaversum">
  <meta name="author" content="Jürgen Hamel" >
  <link rel="stylesheet" href="style.css">
{{{scripts}}}
</head>
<body>
<div class="mainrow" id="header">
<span id="headerHYP">HYP</span><span id="headerEvents">Events</span>
</div>
<div class="mainrow" id="news">
    <div class="newsitem">2018-11-17: Snikygrid added</div>
    <div class="newsitem">2018-06-23: One More Grid discontinued, removed listing</div>
    <div class="newsitem">2018-06-23: Added Discovery Grid</div>
    <div class="newsitem">2018-06-22: Disabled Craft World, event page has disappeared</div>
</div>
<div class="mainrow" id="menu">
<ul>
  <li><a href="#events" id="menuevents">Events</a></li>
   <li><a href="newEvent.php" id="newvent">Create a new Event</a></li>
  <li><a href="#PAQ" id="menuPAQ">PAQ (not a FAQ)</a></li>
  <li><a href="#extlinks" id="menuextlinks">Links</a></li>
</ul>
</div>
<div class="mainrowsub" id="timerow">
  <div id="tzselect"></div>
  <div id="catselect"></div>
  <div id="clock"></div>
</div>
<div class="mainrow" id="events">
{{{hypevents-nojs}}}
</div>

<?php
include  ($_SERVER['DOCUMENT_ROOT'] . '/counter.php') ;
  
$ini["hyp"]++;
write_php_ini($ini);

?>

<div class="mainrow" id="PAQ">
<h1>Potentially Asked Questions</h1>
<p>Since none of the questions below have been actually asked, this page is a Potentially Asked Questions and not a Frequently Asked Questions.</p>

<h2>What is this about?</h2>
<p>This site is an overview of events taking place in the hypergrid (also known as the metaverse). If you are unfamiliar with the hypergrid, we advice to <a href="http://yourworlds.eu">read up on the subject</a>. This site collects events from all over the hypergrid, and lists them in a single easy to comprehend overview.</p>

<h2>How do you get the information for the listed events?</h2>
<p>HYPEvents pulls information from the event calendars that are published on the listed grids websites. When a grid publishes an ical feed, it is easy. But many grids have web-based event calendars. We parse those (caching sub-pages to limit load on the grid's webservers) and convert them to ical.</p>
<p>To make it easy to see what's going on right now and provide easy access, HYPEvents runs algorithms to extract hypergrid url's and times from the event calendars. This is not always easy, as various grids have different ways of indicating the location of the event. Sometimes the information is in the description, sometimes it is just a region name, sometimes it is a hypergrid url.</p>

<h2>Is there an in-world version of the website?</h2>
<p>Yes! There is an event board that lists the first 15 upcoming events and lets you click on an event to be teleported there. For now, it can be found in my Grid, login at  http://yourworlds.eu:8002.<p>

<h2>How do i add HYPEvents in my viewers search function?</h2>
<p>We don't know (yet!). But we intend to find out. If you know how, please let us know at <a href="mailto:jtairov@cyrus.de">Maintainer at Yourworlds.eu</a>.</p>

<h2>What can a grid or event organizer do to make sure the events are listed correctly?</h2>
<p>First of all, make sure the source data (event calendar, website) is correct. It helps if the information is easily parseable by a computer program (see below).</p>
<p>Here are some guidelines to ensure most accurate listings:</p>
<ul>
  <li>Put the location information in the location field of your calendar software. HYPEvents prefers hgurls (of the form 'hg.url.com:8002:Region Name'), but if you list local region names (of the form 'Region Name') HYPEvents will be able to tag on the 'hg.url.com:8002:' part itself.</li>
  <li>Use a consistent form for the location information. For example, if you use local region names, make sure they are real region names and not something like 'The far end of the most beautiful Foobar region' but just 'Foobar'. If you use hop url's, use them consistently; don't mix 'Foobar/123/43/22' with 'Foobar (123,43,22)'.</li>
  <li>Be consistent with timezones. HYPEvents will parse times and timezones correctly, and represent the event times correctly in whatever timezone the user of HYPEvents selects. But if you set the timezone of your calendar to, say, EDT (US/New York) but then put times in it that are grid times, you will confuse the parser and your events will likely be listed incorrectly. Don't do that (it will confuse your users as well!). Set the calendar to 'US/Pacific' (which is grid time) and then put in the events in grid time.</li>
  <li>When the event moves to some other place, make sure to update the event on your grid event calendar. And to be sure that people can find your event even if they have the old time or location, put some kind of beacon that will hand out a landmark to the new location at the old location.</li>
</ul>

<h2>What is the preferred format for event data?</h2>
<p>It helps if the information is easily parseable by a computer program. The explanation of how to accomplish this is a bit technical. Website builders should be able to grasp what is explained below, but if you have any questions do not hesitate to ask at <a href="mailto:jtairov@cyrus.de">Maintainer at Yourworlds</a>.</p>
<p>There are a number of options, in order of preference:</p>
<p><b>Machine-readable, structured calendar (ical, json, ...)</b></p>
<p>Parsing event data works best when it is available in a structured, machine-readable format. The de-facto format for publishing calendar information on the internet is <a href="https://en.wikipedia.org/wiki/ICalendar">iCalendar (.ics)</a>. Many websites with event-support can generate an ical feed. Another easily parseable format is <a href="https://en.wikipedia.org/wiki/JSON">JSON</a>. JSON is often used to convey data from a web server to a browser, but can also be used for sharing information in a structured way to third-party applications.</p>
<p>An easy way to create an iCalendar is to use <a href="https://calendar.google.com/">Google Calendar</a>. Google calendars can be easily embedded on existing websites, and have an option to export an iCal feed.</p>
<p><b>Machine-optimized human-readable websites</b></p>
If, for some reason, an ical feed or json provider is not an option (or there is already a website and you don't want to abandon that), there are some tips to make a website more easily parseable by the HYPEvents algorithms:</p>
<ul>
  <li>Don't put all the event info in one paragraph that is not structured with html tags, that makes it really hard to parse the info accurately and correctly.</li>
  <li>Use elements (div, span, h1, h2, ...) to structure information. For example, put the title of the event in it's own element, put the start date in an element, etc..</li>
  <li>Annotate the html tags to make them easily identifiable by computers. You can do this by adding an id on the tag, or a class. Id's work best for big elements, for example a main div that surrounds all the events, or the table that surrounds all the events. Classes work well for repeating elements, such as titles, times, descriptions, etc..</li>
  </li>
</ul>
<p>If you have a web-designer who makes your website, pass along the above info and he/she should be able to structure the information for you.</p>
<p><b>Unstructered webpages</b></p>
<p>While it is possible to parse an unstructered webpage (where the event info is all in one element for example), it usually doesn't work well and breaks easily. For example, some grids have a completely free-form text-field to give all the event info with start and end times written in different forms. The hgurl will be part of the text, and sometimes is just a region name or a specific club without even listing the region name. HYPEvents is unable to parse these pages.</p>

<h2>Can I add categories to my event?</h2>
<p>Yes, you can. Just include a tag for the form '[[Category:Example]]' somewhere in the event description. Currently the following categories will be recognized:</p>
<ul>
<li>[[Category:Music]] - music (live performance, DJ's)</li>
<li>[[Category:Lecture]] - Lecture or reading</li>
<li>[[Category:Social]] - Social events (community meetings and such)</li>
</ul>
<p>More categories will be added in the near future. If there is a category you are missing, let us know at <a href="mailto:jtairov@cyrus.de">Maintainer at Yourworlds</a></a>.</p>
<h2>What grids are listed?</h2>
<p>The following calendars are imported:</p>
<ul>
<li><a href="http://3rdlifegrid.com/">3rdLifeGrid</a></li>
<li><a href="http://opensimworld.com/hop/76099-Arcana">Arcana</a></li>
<li><a href="http://avatarfest.net/">AVATARfest</a></li>
<li><a href="https://discoverygrid.net/">Discovery Grid</a></li>
<li><a href="https://theencoreescape.com/">The Encore Escape</a></li>
<li><a href="http://exo-life.onl/">Exo-Life Virtual World</a></li>
<li><a href="http://francogrid.org/">FrancoGrid</a></li>
<li><a href="http://greatcanadiangrid.ca/">Great Canadian Grid</a></li>
<li><a href="http://www.islandoasis.biz/">Island Oasis Grid</a></li>
<li><a href="https://www.jogrid.net/">Japan Open Grid</a></li>
<li><a href="http://www.kalasiddhigrid.com/">Kalasiddhi Grid</a></li>
<li><a href="http://www.kitely.com/">Kitely</a></li>
<li><a href="http://www.littlefieldgrid.com/">Littlefield grid</a></li>
<li><a href="https://hypergrid.org/">Metropolis</a></li>
<li><a href="http://www.narasnook.com/">Naras Nook</a></li>
<li><a href="http://nextlife-world.de/">Nextlife-World</a></li>
<li><a href="https://opensim.life/">OpenSimLife</a></li>
<li><a href="http://opensimworld.com/">OpenSimWorld</a></li>
<li><a href="http://www.phaandoria.de/">Phaandoria grid</a></li>
<li><a href="http://www.piratesatoll.com/">Pirates Atoll (Digiworldz)</a></li>
<li><a href="http://snikygrid.org.uk:8002/">Sniky Grid</a></li>
<li><a href="http://3rdrockgrid.com/">Third Rock Grid</a></li>
<li><a href="http://www.vhs-sl.de/fr_hypergrid-eventkalender.htm">VHS Goslar</a></li>
</ul>

<h2>Why isn't grid XYZ on the calendar?</h2>
<p>Probably because we don't know about it! Send us an email at <a href="mailto:jtairov@cyrus.de">Maintainer</a> and send us a link to the grid's event calendar! Ical feed works best, but we can also build a custom scraper and parser for web-based event calendars.</p>
<p>HYPEvents lists only events on hypergrid-enabled grids.</p>

<h2>I don't want you to list my events!</h2>
<p>That's a pity, but it's your call! Just let us know and we'll work out how to exclude your events.</p>

</div>
<div class="mainrow" id="extlinks">
<p>Some links that may be useful:</p>
<ul>
<li><a href="http://www.hyperica.com/">Hyperica - directory of hypergrid destinations</a></li>
<li><a href="http://hypergridbusiness.com/">Hypergrid Business</a></li>
<li><a href="http://metaverse101.com/">Metaverse 101 - read if you are new to the hypergrid</a></li>
<li><a href="http://opensimworld.com/">Opensimworld - find popular hypergrid regions</a></li>
<li><a href="http://virtualoutworlding.blogspot.nl/">Virtual Outworlding - blog by Selby Evans (Thinkerer Melville)</a></li>
</ul>
<p>This project gratefully uses the following code:</p>
<ul>
<li><a href="https://jquery.com/">jQuery</a></li>
<li><a href="http://momentjs.com/">Moment.js</a></li>
<li><a href="http://yui.github.io/yuicompressor/">YUI Compressor</a></li>
<li><a href="https://www.python.org/">Python (and various assorted libraries)</a></li>
</ul>
</div>
<div class="mainrow">
<!-- HyperGrid Banner Exchange - Code Anfang -->
<CENTER>
<IFRAME SRC="http://exchange.hypergrid.org/en/work.php?ID=hypevents" width=150 height=150 marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling="no" title="HyperGrid Banner Exchange" alt="HyperGrid Banner Exchange">
<font size=1><br>
<center><a href=http://exchange.hypergrid.org target=_blank>Exchange Network</a></center></font></IFRAME>
</CENTER>
<!-- HyperGrid Banner Exchange - Code Ende -->
</div>
</body>
</html>
